<div class="container product-card">
  <div class="row">
    <h3>{{product.name}}</h3>
  </div>
  <div class="row">
    <p>{{product.description}}</p>
  </div>
  <div class="row justify-content-end">
    <div class="col-3">
      <h3>{{product.price | currency}}</h3>
    </div>
    <div class="col-3">
      <button *ngIf="editable" class="btn btn-outline-primary" (click)="edit(product)">Editar</button>
      <button *ngIf="editable" class="btn btn-outline-danger" (click)="delete(product)">Eliminar</button>
      <button *ngIf="!editable" class="btn btn-outline-primary" (click)="addToCart(product)">Agregar</button>
    </div>
  </div>
</div>
